.project-details-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
}

.project-heading {
  text-align: center;
  font-size: 28px;
  margin-bottom: 150px;
}

.project-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 250px;
}

.project-table th,
.project-table td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
  /* margin-bottom: 200px; */
  /* border: 1px solid black;/ */
}

.file-icon {
  cursor: pointer;
  font-size: 20px;
}

.inline-project-info {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.close-button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #354fe5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #354fe5;
}

.no-project-message {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  color: gray;
}


.enroll-button {
  background-color: #0b9dc5;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.enroll-button:hover {
  background-color: #45a049;
}

.green{
  color: rgb(3, 114, 3);
}